/* cabecalho */
.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 34, 53);
  height: 100px;
}

.main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  width: 1440px;
  margin: auto;
}

.logo {
  background-color: aliceblue;
  width: 289px;
  height: 100px;
}

.nav-links {
  display: flex;
  color: aliceblue;
  list-style: none;
  justify-content: space-evenly;
  width: 500px;
}

.paragraph-dark-text,
h1 {
  color: rgb(19, 34, 53);
}

.div-about {
  background-color: rgb(19, 34, 53);
}

/* main content */

h1 {
  font-size: 50px;
}

.main-div {
  display: flex;
  justify-content: space-around;
}

.sem-imagem {
  display: flex;
  width: 628px;
  height: 395px;
}

.button {
  background-color: #132235;
  color: rgb(109, 218, 211);
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 5px;
}

.dark-blue,
.branco {
  background-color: #132235;
  color: aliceblue;
  height: 775px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.about-section {
  display: flex;
  width: 1440px;
  justify-content: space-around;
}

.about {
  /* width: 45%; */
  font-size: 20px;
}

.no-image {
  display: flex;
  width: 628px;
  height: 395px;
}

.branco {
  background-color: aliceblue;
}

.header-contact {
  margin: 30px 0 0 0;
  color: #132235;
}

label {
  display: block;
  font-weight: bold;
  color: #132235;
  margin: 7px 0;
}

input,
textarea {
  border-radius: 7px;
  width: 100%;
  border: solid 1px;
}

textarea {
  border-radius: 7px;
}

button.button {
  color: aliceblue;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
  margin: 7px;
  padding: 10px 25px;
}

footer p {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  width: 1440px;
  margin: auto;
}

.redes-sociais {
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 30px;
  margin: 30px 0;
}

.hamburguer {
  display: none;
}

.not-showing {
  display: none;
}

.showing {
  display: flex;
}

@media screen and (max-width: 768px) {
  .main-nav {
  }

  .main-nav-container {
    width: 375px;
  }

  .nav-links {
    display: none;
  }

  .about-section {
    display: inline;
    width: 375px;
    height: 780px;
  }

  .about {
    width: 375px;
    height: 390px;
    /* padding: 0 10px; */
  }

  a.button {
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  .no-image {
    width: 375px;
    height: 300px;
  }

  img {
    max-width: 100%;
  }

  .not-showing {
    display: none;
  }

  .redes-sociais {
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
  }

  .redes-sociais img {
    height: 31px;
  }

  .hamburguer {
    display: inline-block;
    fill: #ffffff;
    width: 30px;
  }

  .testimonies-section {
    height: 1000px;
    text-align: center;
  }

  .testimonies {
    display: flex;
    height: 960px;
  }
}
