/* cabecalho */
.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 34, 53);
  height: 60px;
}

.logo {
  background-color: aliceblue;
  width: 100px;
  height: 50px;
  display: inline;
}

.nav-links {
  display: flex;
  color: aliceblue;
  list-style: none;
  justify-content: space-evenly;
  width: 500px;
}

.main-div {
  height: 380px;
}

.div-about {
  background-color: rgb(19, 34, 53);
}

/* main content */

.container-main-content {
  width: 400px;
  /* background-color: antiquewhite; */
}

.container-main-content h1 {
  font-size: 50px;
  color: rgb(19, 34, 53);
}

.main-div {
  display: flex;
  justify-content: space-around;
}

.sem-imagem {
  display: flex;
  background-color: aqua;
  width: 250px;
}

.button {
  background-color: #132235;
  color: rgb(109, 218, 211);
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 5px;
}

.dark-blue {
  background-color: #132235;
  color: aliceblue;
  height: 380px;
}

.about-section {
  /* background-color: violet; */
  display: flex;
  width: 980px;
  justify-content: space-around;
  margin: 0 auto;
}

.about {
  width: 45%;
  /* background-color: brown; */
  font-size: 20px;
}

.no-image {
  background-color: bisque;
  width: 45%;
}

.branco {
  height: 400px;
}

.header-contact {
  margin: 30px 0 0 0;
  color: #132235;
}

label {
  display: block;
  font-weight: bold;
  color: #132235;
  margin: 7px 0;
}

input,
textarea {
  border-radius: 7px;
  width: 100%;
  border: solid 1px;
}

textarea {
  border-radius: 7px;
}

button.button {
  color: aliceblue;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
  margin: 7px;
  padding: 10px 25px;
}
